form(action="/login" method="POST")
    label(for="login") login
    input(name="login" value="admin")
    label(for="password") password
    input(type="password" name="password" value="123")
    button(type="submit") Login
//- script(src="js/login.js")